<h1>Cadastrar Atividade</h1>

<form action="/atividade_cadastrar" method="post">
<label for="num_atividade">Número da Atividade : </label>
<input type="number" name="num_atividade" id="num_atividade"><br><br>

<label for="nome_atividade">Nome da Atividade : </label>
<input type="text" name="nome_atividade" id="nome_atividade"><br><br>

<label for="setorId">ID do Setor : </label>
<input type="number" name="setorId" id="setorId"><br><br>

<button type="submit">Cadastrar Atividade</button>
</form>