<h1>Atividade</h1>

<header>
    <nav>
        <a href="/"></a>
        <a href="/atividade_apagar">Apagar</a>
        <a href="/atividade_cadastrar">Cadastrar</a>
        <a href="/atividade_listar">Listar</a>
        <a href="/atividade_atualizar">Atualizar</a>
        <a>{{nome}}</a>
    </nav>
</header>