<h1>Apagar Atividade</h1>

<form action="/atividade_apagar" method="post">
<label for="num_atividade">Número da Atividade: </label>
<input type="number" name="num_atividade" id="num_atividade"><br><br>
<button type="submit">Apagar Atividade</button>
</form>