<h1>Cadastrar Setores</h1>

<form action="/setor_cadastrar" method="post">
<label for="num_setor">Número do Setor : </label>
<input type="number" name="num_setor" id="num_setor"><br><br>
<label for="nome_setor">Nome do Setor : </label>
<input type="text" name="nome_setor" id="nome_setor"><br><br>
<label for="gerenteId">ID do Gerente : </label>
<input type="number" name="gerenteId" id="gerenteId"><br><br>
<button type="submit">Cadastrar Setor</button>
</form>