<h1>Setor</h1>

<header>
    <nav>
        <a href="/"></a>
        <a href="/setor_apagar">Apagar</a>
        <a href="/setor_cadastrar">Cadastrar</a>
        <a href="/setor_listar">Listar</a>
        <a href="/setor_atualizar">Atualizar</a>
        <a>{{nome}}</a>
    </nav>
</header>